.contenedor{

    color: white;
    margin: 10px;
    width: 30%;
    height: 200px;
    border-radius: 10px;
    z-index: 0;
    position: relative;
    
    
}

.contenedor h2{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 100%; 
}

.contenedor h5{
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-end: 1em;
}

.ico{
    margin: 2px;

}

.ico em{
    display: none;
}

.ico:hover em{
    display: inline;
    padding-left: 5px;
    
}

.imageCard{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
    z-index: 1;
    
}

.imageCardFocus{
    opacity: 0.3;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
    z-index: 1;
}

.none{
    display: none;
    

}

.description {
    
    padding: 0px 10px 0px 10px;
    color:white;
    height: 180px;
    display: flex;
    flex-direction: column;
    margin-top: -180px;
    animation-name: example;
    animation-duration: 0.5s;
    z-index: 2;
    position: relative;
}

.icons{
    display: flex;
    flex-direction: column
}

.iconsText{
    display: flex;
    flex-direction: row;
    align-items: center;
    }

@keyframes example {
    0%   {margin-top: 0;color:transparent;}
    50% {color:transparent;}
    100% {margin-top: -180px;color:white;}
  }

  @media (max-width: 768px) { 
    .contenedor{
        width: 100%;
    }

  }