
.home{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10vh 100%;
  grid-auto-rows: minmax(100px, auto);
  height: 100%;
}

.searchBar{
    grid-column: 1/3;
    grid-row:1/1
}

.navBar{
    grid-column: 1/1;
    grid-row: 2/3
}

.cards{
    grid-column: 2/3;
    grid-row:2/3
}