.contenedor{
    display: flex;
    justify-content: flex-end;
    
    margin: 0px;
    height: 100%;
    align-items: center;
    
}

.ico{
    composes: primaryColor from "../../variables.css";
    margin: 5px;
    font-size: 20px;
}

.ico:hover{
    color:violet
}