.contenedor{
    margin: 0px;
    
}

.form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 34%;
    max-height: 500px;
    
}

.formItem{
    padding-right: 20px;
}

.input{
    margin: 0px;
}

.inputNull{
    margin: 0px;
}

.icon{
    color: white;
}

.icon:hover{
    color:red;
}

.selector{
    padding: 20px;
    display: grid;
    grid-template-columns: 33% 33% 34%;
  
}
.submit {
    width: 100%;
  }

  .submitDis {
    color:#363631;
    background-color: #151510;
    box-shadow: 0px 0px 0px black !important;
    width: 100%;
  }

.submitDis:hover{
    box-shadow: 0px 0px 0px black, 0 0 0em #00a8ff, 0 0 0em #00a8ff !important

}

.form input, textarea{
    display: inline;
    width: 90%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
}

.form textarea{
    height: 15vh;
}

.contenedor h5{
    font-size: 25px ;
    text-align: left;
    color: white;
    margin: 0 0 .5vh 0;
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    margin-top: 100px;

}
.rating input{
    width: 30% !important;
    margin-left: 10px;
    margin-right: 10px;

}

.none{
    display: none;
}

@media (max-width: 768px) { 
    .form{
        display: flex;
        flex-direction: column;
        max-height: 100%;
        padding: 20px;

    }

    .selector{
        display: flex;
        flex-direction: column;
    }

    .contenedorForm{
        display: flex;
        flex-direction: column;
        
    }


}