.contenedor{
    
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}

.list{
    display: flex;
    justify-content: left;
    margin: 0px;
    padding: 0px;
}

.number{
    color:white;
    padding-left: 10px;
    padding-right: 10px;
  
    list-style:none;
    font-size: 20px;
    margin: 0px ;
}

.number:hover{
    color:blueviolet;
    cursor:pointer
}

.numberPage{
    color:blueviolet;
    list-style:none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.none{
    display: none;
    padding: 10px;
    list-style:none;
    font-size: 20px;
}