.contenedor{
    height: 100%;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh auto;
    grid-gap: 0px;
    
    }
    
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    /* max-height: 800px; */
    margin-left: 0px; /* Adjustment for the gutter */
    width: 100%;
    grid-column: 1/3;
    grid-row:2/2
}

.pagination{
    grid-column: 1/2;
    grid-row:1/1
}
.order{
    grid-column: 2/2;
    grid-row:1/1
}