.contenedor{
    height: 100%;
    background-color: blue;
    color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 20px;
    
    }
    
.cards{
    display: flex;
    flex-flow: column wrap;
    max-height: 800px;
    margin-left: -8px; /* Adjustment for the gutter */
    width: 100%;
    grid-column: 1/1;
    grid-row:2/2
}

.pagination{
    grid-column: 1/1;
    grid-row:3/3
}
.order{
    grid-column: 1/1;
    grid-row:1/1
}