.contenedor{
    
    color: white;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 1.8fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "pagination"
    "cards"; 
   
    }
    
.cards{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 0px; /* Adjustment for the gutter */
    width: 100%;

}

.pagination{
    display: flex;
    flex-direction: row;

}


@media (max-width: 768px) { 

    .contenedor{
        grid-template-rows: 0.1fr 1.9fr; 
    }
    .pagination{
       flex-direction: column-reverse;
   }

   .cards{
    flex-direction: column;
    align-content: center;
   }

}