.contenedor{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.contenedor input{
    width:60vw;
    border-radius: 20px;;
    padding: 12px 20px 12px 30px;
    margin-right: 10px;
    border-style: none;
        
}

.contenedor input:focus{
  box-shadow: 1px 1px 2px black, 0 0 1em #00a8ff, 0 0 0.2em #00a8ff;
  outline: none;
}

.contenedor form{
  display: inline;
  align-items: center;
}

@media (max-width: 768px) { 
  .contenedor input{
    width:50%;
    padding: 12px 15px 12px 15px;
  }

  .contenedor button{
    padding: 12px 10px 12px 10px;
  }

}
