.listIcon{
    display: flex;
    flex-direction: column;
 
}

.icon{
    color:white
}

.icon:hover{
    cursor:pointer;
    text-shadow: 1px 1px 2px black, 0 0 1em #00a8ff, 0 0 0.2em #00a8ff;
}

.iconSelected{
    color: #00a8ff;
}
.title{
    border-style: solid;
    border-color: white;
    border-width: 0px 0px 3px 0px;
    display: flex;
    
    flex-direction: row;
    justify-content: space-between  ;
    align-items: center;
}

.title h3{
    margin-bottom: 5px;
}
.null{
    display: none;
}